[package]
name = "mangonel"
version = "0.1.0"
authors.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
core_affinity = "0.8"
ctrlc = "3.4"